@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDAyNjI0MS1hdGNwcHM6RUd6cGZzV1hMSU1iYUtLeXQ1MmI5Z0tHbXplUHhpamg=
always-auth=true